# Ignore grg test files
benchmark/test_grg_files
benchmark/test_small
grg_files

# Ignore pycache
__pycache__/
benchmark/__pycache__/

# Ignore benchmark output
benchmark/output
benchmark/sc_results

# Ignore benchmark environment
benchmark/.venv
.venv

# Ignore local grgl package and testing
benchmark/grgl
benchmark/_debug_serialize_crash.py
/grgl

# Ignore benchmark zip
benchmark/recombination_benchmark.zip

# Ignore markdown files and figures from benchmark
benchmark/*.md
benchmark/native/*.md
benchmark/*.png
benchmark/*.jpg
benchmark/figures
benchmark/generate_scaling_figures.py
benchmark/generate_parity_figures.py

# Ignore testing scripts
benchmark/*.sh
benchmark/*.slurm

# Ignore pdfs
*.pdf