# Ignore grg test files
benchmark/test_grg_files
benchmark/test_small
grg_files

# Ignore benchmark output
benchmark/output

# Ignore benchmark environment
benchmark/.venv
.venv

# Ignore local grgl package
benchmark/grgl
grgl

# Ignore benchmark zip
benchmark/recombination_benchmark.zip

# Ignore markdown files and figures from benchmark
benchmark/*.md
benchmark/*.png
benchmark/*.jpg
benchmark/figures
benchmark/generate_scaling_figures.py

# Ignore testing scripts
benchmark/*.sh
benchmark/*.slurm

# Ignore pdfs
*.pdf